*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.logo{
    width: 200px;
    margin-bottom: 16px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.container .header span {
    margin-top: 8px;
}

.container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container form .inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.container form .inputContainer label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    margin-bottom: 8px;
}

.container form .inputContainer input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    width: 520px;
    height: 49px;
    border: 1px solid #22932B;
    border-radius: 16px;
    margin-bottom: 12px;
}

.container form a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #22932B;
}

.container form .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 520px;
    height: 48px;
    background: #22932B;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.container form .button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container form .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container form .footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.container form .footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #22932B;
    text-decoration: underline;
}